@page "/"

<PageTitle>Blazor Graph Explorer</PageTitle>

<h1>Blazor Graph Explorer</h1>

A demo application in Blazor Webassembly using the new shiny <a href="https://github.com/microsoftgraph/msgraph-sdk-dotnet">Graph SDK for .NET v5</a> to show off the speed improvements you can accomplish by utializing request <a href="https://learn.microsoft.com/en-us/graph/json-batching">batching</a>.

Check-out the <a href="https://github.com/svrooij/BlazorGraphExplorer">source</a>  or just <a href="https://github.com/svrooij/BlazorGraphExplorer/commit/ab989ff959883f43e7ead10ff4e3c506022dbf33">this commit</a> for the changes needed to upgrade from the Blazor WebAssembly template to Graph V5.
